@charset "UTF-8";
/* CSS Document */

.hidden
{
	display: none;
}

#graph svg
{
	margin: 0 auto;
	background-color:#efefef; 
}

#graph{
	margin: 0 auto;
	width: 90%;
}

div.tooltip
{
	position: absolute;
	text-align: center;
	width: 60px;
	font: 12px sans-serif;
	border-radius: 8px;
	padding: 13px;
	background: rgba(0,0,0,0.8);
	color: #fff;
}